<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Pedro Martinez Site</title>
</head>
<body>
    <main>
        <a href="/about">About Page</a>
        <a href="/works">Works Page</a>

        <h1>Welcome to the number one page for anything Pedro Martinez!</h1>

        <div  id="main-photo">
            <img src="./images/pm.jpg" alt="Pedro Martinez">
        </div>
    </main>
    
    
</body>
</html>