<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Pedro Martinez Work</title>
</head>
<body>
    <main>
    <a href="/home">Back to Home</a>
    <br>
    <br>

    <h1>Pedro Martinez best work!</h1>

    <div>
        <ul>
        <li>8x All-Star (1996-2000, 2002, 2005, 2006)</li>
        <li>World Series champion (2004)</li>
        <li>3x Cy Young Award (1997, 1999, 2000)</li>
        <li>Triple Crown (1999)</li>
        <li>MLB wins leader (1999)</li>
        <li>5x MLB ERA leader (1997, 1999, 2000, 2002, 2003)</li>
        <li>3x AL strikeout leader (1999, 2000, 2002)</li>
        <li>Boston Red Sox No. 45 retired</li>
        <li>Boston Red Sox Hall of Fame</li>
        </ul>
    </div>
    <div id="work-img">
        <img src="./images/cy-young.jpg" alt="Cy Young Award">
        <img src="./images/holding-trophy.jpg" alt="Championship Trophy">
        <img src="./images/jersey-retirement.jpg" alt="Retirement">
    </div>

    </main>

    
</body>
</html>