body {
    color: blue;
    background: linear-gradient(to top, red, white);
    background-repeat: no-repeat;
    background-size: contain;
  }

  #work-img {
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: auto;
  }

  #main-photo {
    display: flex;
    justify-content: center;
    height: 800px;
    width: auto;
  }

  h1{
    text-align: center;
  }